<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>

<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType application/pdf "access plus 1 year"
    ExpiresByType image/jpeg "access plus 1 year"
    ExpiresByType image/png "access plus 1 year"
    ExpiresByType application/vnd.openxmlformats-officedocument.spreadsheetml.sheet "access plus 1 year"
</IfModule>

Order Allow,Deny
Allow from all